@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-image: url("../img/Going.jpeg");
    background-size: cover;
    background-position: center center;
}
body h2{
    
    color:#008ccc;
    font-style: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
main{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd{
    text-align: end;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    width:200px;
    text-align: start;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008ccc;
    color: white;
}

.finish{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
}

.finish button {
    text-align: center center;
}